# Flake lock file (you may want to commit this)
# flake.lock

# Build results
result
result-*
*.wsl

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# examples
examples/

# trash-guides
files/adam/trash-guides/
